.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 40px 0;
    border-radius: 10px;
    background-color: rgb(179, 179, 246);
}
.home-container{
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
    border-radius: 15px;
    height: 150px;
}

.home-form h3{
    font-weight: 700;
    font-size: 20px;
    color: white
}

.home-form input{
    margin-top: 20px;
    padding: 8px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.home-form button{
    padding: 8px 15px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-left: 18px;
    font-size: 15px;
}

/* .home-area.chat-box{   
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 90%;
    height: 350px;
    background-color: white;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 18px;
} */

.chat-box {
    width: 90%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* Message bubble styles */
.chat-message {
    max-width: 70%;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 14px;
}

/* Sent messages (Right-aligned) */
.chat-message.sent {
    align-self: flex-start;
    background-color: #487427;
    text-align: right;
}

/* Received messages (Left-aligned) */
.chat-message.received {
    align-self: flex-end;
    background-color: #5f5252;
    border: 1px solid #ccc;
    text-align: left;
}


.home-area textarea {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 3px 15px;
    outline: none;
}

.home-area .msg{
    text-align: center;
    font-size: 20px;
    color: black;
}